<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!--<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:  %msg%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <!--<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>DENY</onMatch>-->
            <!--<onMismatch>ACCEPT</onMismatch>-->
        <!--</filter>-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:  %msg%n</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;滚动策略&ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;路径&ndash;&gt;-->
            <!--<fileNamePattern>/var/log/tomcat/login/info.%d.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->


    <!--<appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>ERROR</level>-->
        <!--</filter>-->
        <!--<encoder>-->
            <!--<pattern>-->
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:  %msg%n</pattern>-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;滚动策略&ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;路径&ndash;&gt;-->
            <!--<fileNamePattern>/var/log/tomcat/login/error.%d.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!--<appender name="fileWarnLog" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>WARN</level>-->
        <!--</filter>-->
        <!--<encoder>-->
            <!--<pattern>-->
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:  %msg%n</pattern>-->
            <!--</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;滚动策略&ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;路径&ndash;&gt;-->
            <!--<fileNamePattern>/var/log/tomcat/login/warn.%d.log</fileNamePattern>-->
        <!--</rollingPolicy>-->
    <!--</appender>-->

    <!--<root level="info">-->
        <!--<appender-ref ref="consoleLog" />-->
        <!--<appender-ref ref="fileInfoLog" />-->
        <!--<appender-ref ref="fileErrorLog" />-->
        <!--<appender-ref ref="fileWarnLog" />-->
    <!--</root>-->

</configuration>